<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Interval" value="300000"/>
    <add key="EnableLog" value="1"/>
    <add key="DestinationPath" value="%userprofile%\Pictures\Spotlight"/>
    <add key="LogPath" value="D:"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>